{# @block content The pagination structure, typically a `Pagination:Content` #}
<nav
    class="{{ ('flex items-center space-x-4 ' ~ attributes.render('class'))|tailwind_merge }}"
    role="navigation"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</nav>
