{# @block content The table structure, typically includes `Table:Header`, `Table:Body`, and optionally `Table:Footer` #}
{# @prop borderless boolean Whether to hide the table borders. Defaults to `false` #}
{%- props borderless = false -%}
<table
    data-border="{{ borderless ? 'borderless' : 'bordered' }}"
    class="{{ ('w-full text-sm text-left rtl:text-right text-body group/table ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</table>
