<label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" class="{{ ('sr-only peer ' ~ attributes.render('class'))|tailwind_merge }}" {{ attributes }}>
    <div class="relative w-9 h-5 bg-neutral-quaternary peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-brand-soft dark:peer-focus:ring-brand-soft rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-buffer after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-4 after:w-4 after:transition-all peer-disabled:bg-neutral-tertiary peer-checked:bg-brand"></div>
    <span class="select-none ms-3 text-sm font-medium text-heading peer-disabled:text-fg-disabled">
        {%- block content -%}{%- endblock -%}
    </span>
</label>
