{# @block content The header area, typically contains `Card:Title` #}
<div
    class="{{ ('pb-6 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
